@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .display-ruby {
    display: ruby;
    vertical-align: middle;
    text-align: center;
  }

  .display-ruby img {
    vertical-align: middle;
    display: inline-block;
  }
  /* Hide scrollbar for all elements */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
  }
}
